extends layout

block extrahead
  title Terms &amp; Privacy Policy for Web games - Sparklin Labs
  
  style
    :stylus
      body
        font 16px Arial
        margin 0 auto
        width 700px
      
      a
        text-decoration none
        color #00f

        &:hover
          text-decoration underline

block content
  h1 Terms of Service & Privacy Policy
    br
    | for Web games by Sparklin Labs
  
  h2 Terms of Service

  :markdown
    By playing one of Sparklin Labs' Web games or accessing this website,
    you agree to the following terms. We reserve the right to change this
    agreement at any time with or without notice, with immediate and / or
    retroactive effect.

    There's nothing very special in here, mostly common sense rules so that
    everyone has a nice experience. Still, please take a minute or two to read
    it all before playing. Thanks!

    ----

    *Sparklin Labs' Web games* might involve multiplayer interaction and chat
    rooms. Those can be a lot of fun! When interacting with other players, be
    nice, be patient, assume good faith. If you're getting worked up, walk
    away from the keyboard and come back later.

    By using the services, you agree to behave respectfully and keep
    your usage reasonable so as not to disturb other players or disrupt the
    services. Players not abiding by these principles might have their access
    to some or all of the services removed.

    Things you should not do include:

      * Using offensive / explicit profile pictures
      * Excessive amounts of profanity
      * Discussing or sharing links to illegal or objectionable content
      * Spamming, flooding, flaming & co.
      * Cheating or trying to cheat

    If you find a bug or have a suggestion, feel free to let us know about it.
    Feedback is very much appreciated! Any ideas, comments or suggestions you
    provide are assumed to be offered for free and you forfeit any claims to
    them.

  h2 Privacy Policy

  :markdown
    If you decide to log in to one of *Sparklin Labs' Web games*,
    the game will use a cookie to keep you logged in between play sessions.

    When using a social account like Facebook, Twitter, Twitch, Steam or Google+
    to log in, the display name and user picture associated with your social
    account will be used to display your score or avatar to other players in
    games.
    
    Third-party ad banners displayed on the site may use cookies. Such cookies
    might be used to track and customize which banners are displayed to you
    based on various criteria.

    That's it. Thanks for reading, have fun!
    
    ----

    Web Games by **Sparklin Labs** - [Legal notice](http://sparklinlabs.com/legal)